<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <% if params[:auto_refresh] == "1" %>
  <meta http-equiv="refresh" content="60">
  <% end %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
  <title>LogJam <%= controller.action_name %></title>
  <script type="text/javascript" src="/javascripts/d3.v3.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.tipsy.js"></script>
  <link type="text/css" href="/stylesheets/tipsy.css" rel="Stylesheet" />
  <script type="text/javascript" src="/javascripts/jquery.jdpicker.js"></script>
  <link type="text/css" href="/stylesheets/smoothness/jquery-ui-1.8.5.custom.css" rel="Stylesheet" />
  <script type="text/javascript" src="/javascripts/jquery-ui-1.8.5.custom.min.js"></script>
  <%= stylesheet_link_tag 'logjam', 'jdpicker.css' %>
  <script type="text/javascript">
  jQuery.noConflict();
  <%= yield :page_scripts %>
  </script>
</head>
<body>
  <script type="text/javascript">
  if (jQuery.browser.webkit) { jQuery('body').addClass('webkit'); }
  </script>

<%= yield %>

  <script type="text/javascript" src="/javascripts/logjam-filter.js"></script>
</body>
</html>
