<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/ico">
  <% if params[:auto_refresh] == "1" %>
  <meta http-equiv="refresh" content="60">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <% end %>
  <title>Logjam</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
  <%= yield %>

  <script type="text/javascript">
  <%= yield :page_scripts %>
  </script>
</body>
</html>
