<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <% if params[:auto_refresh] == "1" %>
  <meta http-equiv="refresh" content="60">
  <% end %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
  <title>Logjam</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <script type="text/javascript">
  <%= yield :page_scripts %>
  </script>
</head>
<body>
  <script type="text/javascript">
  if ($.browser.webkit) { $('body').addClass('webkit'); }
  </script>
  <%= yield %>
</body>
</html>
