development:
  adapter: mysql
  database: log_jam_dev
  pool: 5
  timeout: 5000
  reconnect: true

test:
  adapter: mysql
  database: log_jam_test
  pool: 5
  timeout: 5000
  reconnect: true

production:
  host: localhost
  adapter: mysql
  user: root
  password: 
  database: log_jam
  pool: 5
  timeout: 5000
  reconnect: true
