<div class="item">
  <h2>Dom JavaScript Nodes</h2>
  <span class="value"><%= "%.2f" % @dataset.summary.avg("script_nodes") %> </span>

  <div class="action">
    <%= clean_link_to("Details", {:action => "response_code_overview"}, :title => "Details") %>
  </div>
</div>
