<% if !@dataset.summary.avg("html_nodes").nan? %>
  <div class="item col-8">
    <h2>HTML Nodes</h2>
    <span class="value"><%= "%.2f" % @dataset.summary.avg("html_nodes") %> </span>
  </div>
<% end  %>
