<% if @dataset.js_exception_count > 0 %>
<div class="item col-8 icon-action">
  <%= link_to(:action => "js_exception_types", :section => :frontend) do %>
    <h2>Javascript Errors</h2>
    <span class="value"><%= @dataset.js_exception_count %></span>
  <% end %>
</div>
<% end %>
