<div class="item">
  <h2>Dom Nodes</h2>
  <span class="value">102451</span>

  <div class="action">
    <%= clean_link_to("Details", {:action => "response_code_overview"}, :title => "Details") %>
  </div>
</div>
