<div class="flex">
  <% max = fields.length %>
  <% fields.each do |name, value| -%>
    <% next if value.blank? -%>
    <div class="item col-7">
      <h2><%= hrn name %></h2>
      <%= value %>
    </div>
  <% end -%>
</div>

