<div class="item icon-action">
  <%= link_to(clean_params(params.merge(:page => params[:page], :grouping => "request"))) do %>
  <h2>Requests</h2>
  <span class="value"><%= memory_number @dataset.count_requests(@section) %></span>
  <% end %>
</div>


