<fieldset class="resource-fields">
  <legend><%= title %></legend>
  <table id="request-details" class="breakdown-table">
    <% fields.each do |name, value| -%>
    <% next if value.blank? -%>
    <tr>
      <td class="resource_name"><%= hrn name %></td>
      <td class="number"><%= value %></td>
    </tr>
    <% end -%>
  </table>
</fieldset>
