<h2><%= title %></h2>
<div class="app-overview overview-wrap">
  <% max = fields.length %>
  <% fields.each do |name, value| -%>
    <% next if value.blank? -%>
    <div class="item">
      <h2><%= hrn name %></h2>
      <%= value %>
    </div>
  <% end -%>
</div>

