<%
  codes_above_400 = @dataset.response_code_summary["4xx"] + @dataset.response_code_summary["5xx"]
%>

<div class="item icon-action">
  <%= link_to({:action => "response_code_overview"}) do %>
    <h2>Error Responses</h2>
    <span class="value"><%= codes_above_400 %></span>

    <table class="collapse-table">
      <% @dataset.response_code_summary.keys.sort.each do |rc| %>
      <tr>
        <td class="number-left"><%= rc %></td>
        <td class="number"><%= sometimes_link_response_code(rc, @dataset.response_code_summary[rc]) %></td>
      </tr>
      <% end %>
    </table>
  <% end %>
</div>
