<%
  if (defined?(section)).nil?
    section = 'backend'
  end
%>

<%
  line_attr = @lines.include?("gc_time") ? "gc_time" : "ajax_time"
  js_params = {
    :events   => @js_events.map { |event| [event["minute"], event["label"]] },
    :data     => @js_data,
    :interval => params[:interval].to_i,
    :colors   => (@resources.reverse+@lines.keys).map{|r| Logjam::Resource.color(r,0.8)}+["rgba(128,128,128,0.2)"],
    :legend   => (@resources.reverse+@lines.keys+%w(requests/second)).map{|c| c.gsub(/_/,' ')},
    :request_counts => @request_counts.reverse.drop_while{|d|d==0}.reverse,
    :gc_time => pairs_without_trailing_zeros(@lines[line_attr]),
    :dom_interactive => pairs_without_trailing_zeros(@lines["dom_interactive"]),
    :total_time_max => pairs_without_trailing_zeros(@lines["total_time_max"]),
    :max_y => @js_max,
    :zoomed_max_y => @js_zoom * 1.5,
    :start_minute => params[:start_minute].to_i,
    :end_minute => params[:end_minute].to_i,
    :w => width,
    :h => height,
    :plot_kind => @dataset.plot_kind,
    :ylabel => @dataset.ylabel,
    :container => "#resource-plot-#{section}"
  }
-%>

<div id="resource-plot-<%= section %>"></div>
<script>
  (function(){
    var resource_plot_params = <%=raw Oj.dump(js_params) %>;
    $(function(){
      logjam_resource_plot(resource_plot_params);
    });
    $(window, document).on('resize', function(){
      $('#resource-plot-<%= section %>').html('');
      logjam_resource_plot(resource_plot_params);
    });
  })();
</script>
