<table class='stats' id='response-code-stats'>
  <tr>
    <th colspan="2">response code summary</th>
  </tr>
  <% @dataset.response_codes.keys.sort.each do |rc| %>
  <tr>
    <td><%= rc %></td>
    <td class='number'><%= memory_number(@dataset.response_codes[rc]) %></td>
  </tr>
  <% end %>
</table>
