<table id='response-code-stats'>
  <tr>
    <th colspan="2">response codes</th>
  </tr>
  <% @dataset.response_codes.keys.sort.each do |rc| %>
  <tr>
    <td class="number"><%= rc %></td>
    <td class="number"><%= sometimes_link_response_code(@page, rc, @dataset.response_codes[rc]) %></td>
  </tr>
  <% end %>
</table>
