<div id='resource-plot'>
  <script type="text/javascript" src="/javascripts/protovis-r3.2.js"></script>
  <script type="text/javascript+protovis">

 var data = <%= @protovis_data.to_json %>;
 var interval = <%= params[:interval].to_i %>;
 var colors = <%= @resources.reverse.map{|r| Logjam::Resource.colors[r]}.to_json %>;

/* Sizing and scales. */
var w = <%= width %>,
    h = <%= height %>,
    x = pv.Scale.linear(0, 1440/interval-1).range(0, w),
    y = pv.Scale.linear(0, <%= @protovis_max %>).range(0, h).nice();
    c = pv.colors(colors).range();

/* The root panel. */
var vis = new pv.Panel()
    .strokeStyle("#000")
    .width(w)
    .height(h)
    .bottom(20)
    .left(50)
    .right(20)
    .top(5);

/* X-axis and ticks. */
vis.add(pv.Rule)
    .data(pv.range(24).map(function(h) h/interval*60))
    .left(x)
    .bottom(0)
    .strokeStyle(function(d) d ? "rgba(128,128,128,.2)" : "#000")
  .anchor("bottom").add(pv.Label)
    .text(function(t) t*interval/60);

/* Y-axis and ticks. */
vis.add(pv.Rule)
    .data(y.ticks(10))
    .bottom(y)
    .strokeStyle(function(d) d ? "rgba(128,128,128,.2)" : "#000")
  .anchor("left").add(pv.Label)
    .text(y.tickFormat);

/* The stack layout. */
vis.add(pv.Layout.Stack)
    .layers(data)
    .x(function(d) x(d[0]))
    .y(function(d) y(d[1]))
  .layer.add(pv.Area)
    .interpolate("step-after")
    .fillStyle(function(d) c[this.parent.index]);

vis.render();
</script>
  </div>
