<%= render "header" %>
<div id="logjam-container">
  <%= render "sidebar" %>
  <div id="logjam-content" class="app-dashboard">
    <h2><%= params[:app] %> :: Timings</h2>
    <div id="enlarged-plot" class="table-wrapper">
      <%= render :partial => "resource_plot", :locals => {:width => 1080, :height => 460} %>
    </div>

  </div>
</div>
