<%= render "header" %>
<div id="logjam-container">
  <%= render "sidebar" %>
  <div id="logjam-content" class="app-dashboard">
    <div class="flex">
      <div id="enlarged-plot" class="item">
        <h2>Timings</h2>
        <%= render :partial => "resource_plot", :locals => {:width => 1080, :height => 460} %>
      </div>
    </div>
  </div>
</div>
