<%= render "header" %>
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
//  display: none;
}
#spinner { font: 20px sans-serif; }
</style>
<div id="show-json"><%= link_to("show json", params.merge(:format => :json)) %></div>

<div class="clear-left" id="request-history" style="margin-left:50px">
  <p id="spinner">Please stand by while we fetch your data ...</p>
  <div id="apdex_score"></div>
  <div id="total_time"></div>
  <div id="request_count"></div>
  <div id="errors"></div>
  <div id="warnings"></div>
  <div id="exceptions"></div>
</div>

<script type="text/javascript">
function bar_chart(data, metric, format) {

var margin = {top: 20, right: 20, bottom: 50, left: 100},
    width = 960 - margin.left - margin.right,
    height = 150 - margin.top - margin.bottom;

var formatter = d3.format(format);

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(5)
    .tickFormat(formatter);

var svg = d3.select("#request-history #" + metric).append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  x.domain([ new Date(data[0].date), new Date(data[data.length-1].date) ]);
  y.domain([d3.min(data, function(d){return d[metric]}), d3.max(data, function(d){return d[metric]})]);

svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      // .attr("transform", "rotate(-90)")
      .attr("y", -20)
      .attr("x", 450)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text(metric);

  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(new Date(d.date)); })
      .attr("width", width/data.length)
      .attr("y", function(d) { return y(d[metric]); })
      .attr("height", function(d) { return height - y(d[metric]); });
};

$.getJSON("<%= url_for(params.merge(:format => :json)) %>", function(data){
  bar_chart(data, "apdex_score", ".3r");
  bar_chart(data, "request_count", ",.0");
  bar_chart(data, "total_time", ".0");
  bar_chart(data, "errors", ",.0");
  bar_chart(data, "warnings", ",.0");
  bar_chart(data, "exceptions", ",.0");
  $("#spinner").hide();
});

</script>
