<div class="header">
  <h3 id="stream-title">Live Stream for <%= @app %>-<%= @env %>: <%= @key %></h2>
  <div id="stream-control">
    <input id="stream-toggle" type="button" value="pause" />
    <input id="warnin-toggle" type="button" value="show warnings" />
    <input id="smooth-toggle" type="button" value="smooth updates" />
  </div>
</div>

<div id="live-stream">
  <div id="live-stream-chart"></div>
  <div id="anomaly-score">
    <p id="anomaly-score-title">Anomaly Score:</p>
    <p id="anomaly-score-value"></p>
  </div>

  <h2 id="recent-errors-title">Recent Warnings/Errors</h2>
  <table id="recent-errors" class="full_stats">
  <tr id="recent-errors-head"><th>Severity</th><th>Time</th><th>Action</th><th>Log Excerpt</th></tr>
  </table>

<%
   js_params = {
     colors: @resources.reverse.map{|r| Logjam::Resource.color(r,0.7)}+["rgba(128,128,128,0.3)"],
     resources: @resources.reverse,
     legend: (@resources.reverse+%w(requests/second)).map{|r| r.gsub(/_/,' ')},
     socket_url: @socket_url,
     socket_greeting: "#{@app}-#{@env},#{@key}",
     app_env: "app=#{@app}&env=#{@env}"
   }
%>
<script type="text/javascript">
  logjam_live_stream_chart(<%=raw Oj.dump(js_params) %>);
</script>

</div>
