<% unless params[:monitoring] %>
  <%= render "header" %>
<% end %>
<div id="logjam-container" <% if params[:monitoring] %>class="full-width"<% end %>>
  <% unless params[:monitoring] %>
    <%= render "sidebar" %>
  <% end %>
  <div id="logjam-content" class="app-dashboard">
    <div class="flex">
      <div class="item col-1">
        <h2>Livestream <%= hpn("for") %> <span id="livestream-updated-at"></span></h2>
        <div class="navicons btn-group">
          <button id="stream-toggle" class="btn" value="not-paused">pause</button>
          <button id="warnin-toggle" class="btn" value="not-shown">show warnings</button>
          <!--
              currently broken, maybe remove altogether
              <button id="smooth-toggle" class="btn">smooth updates</button>
          -->
        </div>
        <div id="live-stream-chart"></div>
      </div>
      <div class="item col-1">
        <div id="anomaly-score">
          <span id="anomaly-score-title">Anomaly Score</span>
          <span id="anomaly-score-value"></span>
        </div>
      </div>
    </div>
    <div class="flex">
      <div class="item col-1" id="recent-errors-container">
        <h2 id="recent-errors-title">Recent Warnings/Errors</h2>
        <table id="recent-errors" class="full_stats">
          <tr id="recent-errors-head">
            <th>Severity</th>
            <th>RC</th>
            <th>Time</th>
            <th>Action</th>
            <th>Log Excerpt</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<%
  js_params = {
    colors: @resources.reverse.map{|r| Logjam::Resource.color(r,0.7)}+["rgba(128,128,128,0.3)"],
    resources: @resources.reverse,
    legend: (@resources.reverse+%w(requests/second)).map{|r| r.gsub(/_/,' ')},
    socket_url: @socket_url,
    socket_greeting: "#{@app}-#{@env},#{@key}",
    app_env: "app=#{@app}&env=#{@env}&exclude_status=#{@exclude_status}",
    transparent_ico_path: asset_path("t.png")
  }
%>
<script type="text/javascript">
  var livestream_params = <%=raw Oj.dump(js_params) %>;
  logjam_live_stream_chart(livestream_params);
  $(window).on('resize', function(){
      $('#live-stream-chart svg').remove();
      logjam_live_stream_chart(livestream_params);
    });
</script>
