<%= render "header" %>
<div id="logjam-container">
  <%= render "sidebar_lite" %>
  <div id="logjam-content" class="app-dashboard">
    <h2><%= params[:app] %> :: Livestream</h2>

    <div class="app-overview">
      <div id="live-stream" class="item">
        <div id="live-stream-chart"></div>
        <div id="anomaly-score">
          <p id="anomaly-score-title">Anomaly Score:</p>
          <p id="anomaly-score-value"></p>
        </div>
      </div>
    </div>

    <h2 id="recent-errors-title">Recent Warnings/Errors</h2>
    <div class="app-overview">
      <div class="item">
        <table id="recent-errors" class="full_stats">
          <tr id="recent-errors-head"><th>Severity</th><th>RC</th><th>Time</th><th>Action</th><th>Log Excerpt</th></tr>
        </table>

        <%
           js_params = {
             colors: @resources.reverse.map{|r| Logjam::Resource.color(r,0.7)}+["rgba(128,128,128,0.3)"],
             resources: @resources.reverse,
             legend: (@resources.reverse+%w(requests/second)).map{|r| r.gsub(/_/,' ')},
             socket_url: @socket_url,
             socket_greeting: "#{@app}-#{@env},#{@key}",
             app_env: "app=#{@app}&env=#{@env}",
             transparent_ico_path: asset_path("t.png")
           }
        %>
        <script type="text/javascript">
          logjam_live_stream_chart(<%=raw Oj.dump(js_params) %>);
        </script>
      </div>
    </div>
  </div>
</div>
