<%= render "header" %>
<div id="logjam-container" class="xxl-view">
  <%= render "sidebar" %>
  <div id="logjam-content" class="app-dashboard">
    <div class="flex">
      <div class="item">
        <div class="message large">
          <%= @warning %>
        </div>
      </div>
    </div>
  </div>
</div>
