body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

a { color: #000; }
a:hover { color: #000; background-color:#fff; }
a { text-decoration: none; }

label {
    font-weight: bold;
    font-size: 80%;
    display: block;
    float: left;
    clear: left;
}

form {margin-bottom: 20px;}

input, select {
  margin-bottom: 5px;
}

.submit {
  margin-top: 10px;
  width: 60px;
}

.clear-left {clear:left; float:left;}
.filter-widget {float:left; padding-right: 20px;}
.filter-widget-last, .float-left {float:left;}
.filter-float-right {float:right; padding-right: 20px;}
#description.filter-widget {font-style: italic; margin: 0 0 0 5px; font-size: 90%;}

#filter ul li {font-size: 65%; padding: 0px;}
#distribution-plot {padding: 0; margin: 0; float: left;}
#enlarged-plot {}

img {
  border: 0 none;
}

fieldset {
border: 1px solid #CCA383;
width: 610px;
padding: 3px;
}

fieldset p {
  margin-bottom: 0;
}

fieldset legend {
background: #CCA383;
padding: 3px;
font-weight: bold;
font-size: 120%;
}

div#filter, div#column-right {
  float: left;
}

div#column-right {width: 700px;}

div#pagetimes {
  margin: -20px 0 0 10px;
}

.stats {
  margin: 2px 0 2px 40px;
}

div#pagetimes h3 {
  margin-top: 20px;
  margin-left: 0px;
  margin-bottom: 5px;
}

div#pagetimes h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

#performance-pie {
  margin-top: 20px;
  margin-left: 40px;
}

.full_stats {
  margin-left: -2px;
}

.full_stats th {
  margin: 0;
  padding: 2px;
  background: #CCA383;
}

tr.full_stats:hover {
  background: #CCA383;
}

tr.full_stats a, tr.full_stats .dead-link {
  padding: 0 2px;
}

td.group-thing {max-width: 32em; overflow: hidden; font-size: 90%;}

td {padding: 0 8px;}
td.number {text-align: right;}

.error {color:red;}

.stats th { font-size: 12px; }
.stats td { font-size: 12px; padding: 0 8px; }
.table-heading { font-weight: bold; padding-top: 10px; }

#resource-plot {float:left;}

#apdex-table {float:left;}
#apdex-table td {font-size: 90%;  line-height: 100%; white-space: nowrap; }
#apdex-table th {font-size: 90%;  white-space: nowrap; }

#response-code-summary {float:right;}
#response-code-stats td {font-size: 90%;  line-height: 100%;}
#response-code-stats th {font-size: 90%;  line-height: 100%;}

#graph-stats td {font-size: 90%; line-height: 100%; white-space: nowrap;}
#graph-stats th {font-size: 90%; white-space: nowrap;}
#graph-counts {font-size: 90%; margin-bottom: 10px; white-space: nowrap;}
#graph-counts p {font-weight: bold; white-space: nowrap;}

.warning {
  font-size: 200%;
  color: blue;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.auto_complete {
  width: 350px;
  background: #fff;
  z-index: 1;
}
div.auto_complete ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}
div.auto_complete ul li {
  margin:0;
  padding:3px;
}
div.auto_complete ul li.selected {
  background-color: #ffb;
}
div.auto_complete ul strong.highlight {
  color: #800;
  margin:0;
  padding:0;
}

#stream-title {
}
#stream-control {
}
#stream-toggle {
}
#live-stream {
}
