body { background-color: #fff; color: #333; margin: 0px; padding: 0px; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  line-height: 18px;
}

filter form p {
  margin: 0px;
}

pre {
  background-color: #eee;
  margin: 1px 0!important;
  padding: 5px!important;
  font-size: 11px;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
pre img { vertical-align: top; }
pre a, #request-details a { color: blue; }
pre a:hover, #request-details a:hover { color: blue; }

a { color: #000; }
a:hover { color: #000; background-color:#fff; }
a { text-decoration: none; }

label {
    font-weight: bold;
    font-size: 80%;
    display: block;
    float: left;
    clear: left;
}

form { }

input, select {
  margin-bottom: 5px;
}

#header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-width: 1000px;
  height: 50px;
  background: #cca383;
}

#filter {
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 1000px;
  margin-left: 10px;
}

#content {
  position: relative;
  left: 0px;
  right: 0px;
  min-width: 1000px;
  margin: 0px;
  margin-top: 5px;
}

#home-button {
    background: #CCA383;
    border: 0;
    cursor: pointer;
    margin-top: 7px;
    margin-right: 10px;
    margin-left: -10px;
    line-height: 45px;
    font-weight: bold;
    font-size: 200%;
    display: block;
    float: left;
    clear: left;
}

.webkit #home-button {
    margin-top: 0px;
}

.clear-left {clear:left; float:left;}
.filter-widget-inline { display:inline-block; }
.filter-widget {float:left; padding-right: 20px; margin: 0px;}
.filter-widget-last, .float-left {float:left;}
.filter-float-right {float:right; padding-right: 20px;}
#description.filter-widget {font-style: italic; margin: 0 0 0 5px; font-size: 90%;}

#grouping-widget {
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
  list-style-type: none;
  height: 50px;
  margin: 0px;
  margin-left: 10px;
  margin-right: 30px;
  padding: 0px;
}

#grouping-widget li {
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  height: 18px;
  margin: 2px;
  padding: 2px 10px 2px 10px;
}

#resource-type-widget {
  margin-top:3px;
}

.active {
  background: #ccc;
}

.inactive:hover, .active:hover {
  color: #000;
  background-color:#fff;
  cursor: pointer;
}

#distribution-plot {padding: 0; margin: 0; float: left;}
#enlarged-plot { margin-top: 10px; }

img {
  border: 0 none;
}

#column-right {
    position: absolute;
    left: 625px;
}

#column-right { min-width: 500px; max-width: 800px; }

div#pagetimes {
  margin: -20px 0 0 10px;
}

div#pagetimes h3 {
  font-size: 12px;
  margin-left: 0px;
  margin-top: 24px;
  margin-bottom: 5px;
}

div#pagetimes h4 {
  font-size: 12px;
  margin-top: 7px;
  margin-bottom: 3px;
}

#performance-pie {
  margin-top: 15px;
  margin-left: 30px;
}

.full_stats {
  margin-left: 0px;
  margin-top: 3px;
  border-collapse: collapse;
}

.webkit .full_stats {
  margin-top: 10px;
}

.full_stats th {
  margin: 0;
  border: 0;
  padding: 4px;
  background: #ddd;
  font-style: italic;
  font-weight: normal;
  font-size:   12px;
  line-height: 13px;
  height: 26px;
  border: 1px solid #999;
}

.full_stats td {
  font-size: 12px;
  line-height: 13px;
  padding: 3px 5px;
}

.sortable, .clickable {
  cursor: pointer;
}

th.sortable:hover {
   background: #fff url('/images/table_sort_desc.png') top right no-repeat;
}

th.sorted {
   background: #eee url('/images/table_sorted_desc.png') top right no-repeat;
}

tr.full_stats:hover {
  background: #ccc;
}

tr.full_stats a, tr.full_stats .dead-link {
  padding: 0 2px;
}

td.group-thing {max-width: 32em; overflow: hidden; font-size: 90%;}

td {padding: 0 8px;}
td.number {text-align: right;}

.new_error td{ background-color:pink; }

.error {color:red;}
.error a {color:red;}
.warn {color:brown;}
.warn a {color:brown;}
.timestamp {font-weight:bold;}

.plot-details { width:616px; }
#plot-details-col1 { float:left; }
#plot-details-col2 { float:left; margin-left:15px;}
#plot-details-col3 { float:left; margin-left:15px;}
.stats {
  margin: 2px 0 2px 40px;
}
.stats th { font-size: 12px; }
.stats td { font-size: 12px; padding: 0 8px; }
.table-heading { font-weight: bold; padding-top: 10px; }

#resource-plot { float:left; margin-top:-3px; }

#apdex-table, #error-table {float:left;}
#apdex-table td, #error-table td {font-size: 90%; line-height: 100%; white-space: nowrap;}
#apdex-table th, #error-table th {font-size: 90%; white-space: nowrap;}

#response-code-stats td {font-size: 90%; line-height: 100%; white-space: nowrap;}
#response-code-stats th {font-size: 90%; white-space: nowrap;}

#graph-stats td {font-size: 90%; line-height: 100%; white-space: nowrap;}
#graph-stats th {font-size: 90%; white-space: nowrap;}
#graph-counts {font-size: 90%; margin-bottom: 10px; white-space: nowrap;}
#graph-counts p {font-weight: bold; white-space: nowrap;}

#requests, #single-request, #exceptions {
  margin: 8px;
}

#request-lines {
  margin-top:15px;
  margin-bottom:15px;
}

#request-lines a {
  color: blue;
}

.warning {
  font-size: 200%;
  color: blue;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#error_page_navigator {
  margin-top: -5px;
  margin-bottom: 5px;
}
#error_page_navigator ul {
  list-style-type: none;
  display: inline;
  padding-left: 10px;
}
#error_page_navigator li {
  display: inline;
}


#stream-title {
}
#stream-control {
}
#stream-toggle {
}
#live-stream {
  margin: 8px;
}

#request-details {
  margin:0px;
  padding:0px;
  border:0px;
}

.resource-fields {
   display: inline-block;
   vertical-align: top;
   border: none;
/*   border: 1px solid #ddd; */
}

.resource-fields legend {
   font-weight: bold;
}

.resource_name {
   vertical-align: top;
   white-space: nowrap;
}

.embedded_table td {
  margin-left: 0px;
  padding-left: 0px;
}

.embedded_table tr td:first-child {
  width: 15em;
}

.menu{
    display: inline-block;
    border:none;
    border:0px;
    margin:0px;
    padding:0px;
    font-weight:bold;
    position:relative;
    z-index: 100;
}
.menu ul{
    height:25px;
    list-style:none;
    margin:0;
    padding:0;
}
.menu li{
    float:left;
    padding:0px;
}

.menu li a.active {
    background-color:#ccc;
    color: black;
}
.menu li a.inactive {
    background-color:#cca383;
    color: black;
}
.menu li li a{
    -moz-border-radius: 0px;
    border-radius: 0px;
    line-height: 20px;
    font-weight: normal;
    font-size: 12px;
}
.menu li a{
    -moz-border-radius: 2px;
    border-radius: 2px;
    display:block;
    font-weight:bold;
    font-size: 13px;
    line-height:20px;
    margin:0px;
    padding:0px 7px;
    text-align:center;
    text-decoration:none;
}
.menu li a:hover, .menu ul li:hover a{
    background: white;
    text-decoration:none;
}
.menu li ul{
    position: absolute;
    background:#fff;
    display:none;
    height:auto;
    padding:0px;
    margin:0px;
    border:1px solid #ccc;
}
.menu li:hover ul{
    display:block;
}
.menu li li {
    position: relative;
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    z-index: 110;
}
.menu li:hover li a{
    background:none;

}
.menu li ul a{
    white-space: nowrap;
    display:block;
    height:20px;
    font-style:normal;
    margin:0px;
    padding:0px 10px 0px 20px;
    text-align:left;
}
.menu li ul a:hover, .menu li ul li:hover a{
    background:#ccc url('/images/checkmark.png') center left no-repeat;
    border:0px;
    text-decoration:none;
}
.menu p{
    clear:left;
}

.ui-menu {
    padding: 0px;
}
