<div id="logjam-header">
  <h1 class="logo">LOGJAM</h1>
</div>
<div id="logjam-container">
  <div class="flex">
    <div class="item col-1">
      <h2 id="admin-title" class="controls">Defined Streams</h2>
      <table class="zebra">
        <tr>
          <th>Stream</th>
        </tr>
        <% @streams.each do |name, s| %>
          <tr>
            <td>
              <%= link_to(name, database_information_path(app: s.app, env: s.env)) %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
