@import 'mixins.scss';
@import 'constants.scss';

.apdex-ok { background-color: $apdex-ok !important; }
.apdex-fail { background-color: $apdex-fail !important; }

.full_stats .apdex-ok,
.full_stats .apdex-fail {
  background: none !important;
  a { margin: 0 5px; }
}

#leaders {
  .full_stats .apdex-ok,
  .full_stats .apdex-fail {
    a { margin: 0; }
  }
}

.full_stats {
  .gbox.apdex-ok { background-color: $apdex-ok !important; }
  .gbox.apdex-fail { background-color: $apdex-fail !important; }
}

.apdex-ok > a { background-color: $apdex-ok !important; }
.apdex-fail > a { background-color: $apdex-fail !important; }
