//LAYOUT-COLORS:
$white: #fff;
$lightest-grey: #eee;
$lighter-grey: #ddd;
$light-grey: #808080;
$grey :#666;
$dark-grey :#444;
$black: #000;
$xing-green: #006567;

$apdex-ok: #cafecb;
$apdex-fail: #ffcbcb;

//HEIGHT/WIDTH/MARGIN/PADDING:
$header-height: 50px;

//BACKGROUND-COLORS:
$header-bg-color: $white;
$menu-active-bg-color: rgba(230,230,230, 0.9);
$menu-inactive-bg-color: rgba(200,200,200, 0.4);

//FONT-COLORS:
$link-color: $black;

//BORDER-COLORS:
$menu-border-color: #ccc;
