@import 'mixins.scss';
@import 'constants.scss';

.bgdebug   { @include bgimg; background-image: image-url('debug.svg')   ;  }
.bginfo    { @include bgimg; background-image: image-url('info.svg')    ;  }
.bgwarn    { @include bgimg; background-image: image-url('warn.svg')    ;  }
.bgerror   { @include bgimg; background-image: image-url('error.svg')   ;  }
.bgfatal   { @include bgimg; background-image: image-url('fatal.svg')   ;  }
.bgunknown { @include bgimg; background-image: image-url('unknown.svg') ;  }

.red { color: red; }
.info { color: #005ddd; }
.sortable, .clickable { cursor: pointer; }
.right { text-align: right; }
.triangle { color: orange; }


.btn {
  border: 1px solid #c9c9c9;
  background: none;
  border-color: $light-grey;
  color: $light-grey;
  border-radius: 1px;
  height: 31px;
  font-size: 12px;
  font-family: "Open Sans", "Helvetica", Verdana, Arial;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;

  &.btn-small {
    height: 21px;
    line-height: 21px;
    padding: 0 5px;
  }

  &.active {
    border-color: $xing-green;
    background: $xing-green;
    color: $white;
  }
}
a.btn {
  line-height: 31px;
}

a.disabled {
    color: $grey;
    cursor: default;
    pointer-events: none;
}

.dropdown-menu {
  display: none;
  border-radius: 1px;
}

.navicons {
  border: 1px solid $lighter-grey;
  padding: 2px;
  border-radius: 1px;
  z-index: 10;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  position: absolute;
  top: 10px;
  right: 10px;

  li {
    display: inline
  }

  a {
    color: $xing-green;
    margin: 0px 5px;
  }
}

.box {
    position: absolute;
    left:0;
    top: -2px;
    background-color: rgba(255,0,0,0.4);
    width: 0px;
    height: 3px;
}

.invisible { visibility:hidden; display:none; }

.warning {
    font-size: 200%;
    color: blue;
}

.error {color:red;}
.error a {color:red;}
.warn {color:brown;}
.warn a {color:brown;}

.timestamp {font-weight:bold;}

.controls form { display: inline; }
.controls a {color: blue; margin-left: 5px; }
.controls a:hover {font-weight: bold; }

.resource_name {
    vertical-align: top;
    white-space: nowrap;
    text-transform: uppercase;
}

.autocomplete-suggestions {
  border:1px solid $lighter-grey;
  background:$white;
  cursor:default;
  text-align:left;
  overflow:hidden;
  border-radius: 1px;

  .autocomplete-selected {
    background: $lighter-grey;
  }

  .autocomplete-suggestion {
    padding: 1px 2px;
    white-space: nowrap;
    overflow: hidden;

    strong {
      font-weight:normal;
      color:#3399FF;
    }
  }
}

th {
  border-bottom: 1px solid $lighter-grey;

  &[onclick] {
    cursor: pointer;
  }
}
