@import 'mixins.scss';
@import 'constants.scss';

::-webkit-input-placeholder { /* WebKit browsers */
    color:    $black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $black;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    $black;
}

#logjam-header {
  background: $header-bg-color;
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  position: fixed;
  top: 0;

  .logo {
    margin: 0;
    padding: 0;
    padding-left: 25px;
    font-weight: 300;
    line-height: 45px;
    margin-right: 20px;
    margin-left: 10px;
    height: auto;
    width: auto;
    position: relative;

    &:before {
      content: " ";
      background-image: image-url('icon.png');
      height: 20px;
      width: 20px;
      position: absolute;
      left: 0;
      top: 12px;
    }
  }

  > .filter-item {
    line-height: 19px;
    height: 19px;
    font-weight: 300;
    text-transform: lowercase;
    position: relative;
    margin-right: 20px;
    border-radius: 3px;
    background: $lightest-grey;
    font-size: 16px;
    font-weight: 300;
    padding: 1px 5px 5px 5px;
    margin-top: 10px;
    cursor: pointer;

    &.no-background {
      background: transparent;
      padding: 0;
    }

    label {
      font-weight: 700;
      font-size: 14px;
    }

    input,
    #application-chooser-ghost,
    #namespace-suggest-ghost {
      border: 0;
      font-size: 14px;
      font-weight: 300;
      font-family: "Open Sans";
      font-weight: 300;
      width: 10px;
      margin-left: 5px;
      background: $lightest-grey;
      border-bottom: 1px solid $light-grey;
      text-transform: lowercase;
      margin: 0;
      padding: 0;
      -webkit-appearance: none;
      border-radius: 0;

      &:focus {
        outline: none;
      }
    }
  }

  .application-chooser {
    &.active {
      .dropdown-menu {
        display: -webkit-flex;
        display: flex;
      }
    }

    .dropdown-menu {
      box-shadow: 1px 1px 14px -7px rgba(0, 0, 0, 0.5) inset, 0 6px 15px -5px rgba(0,0,0,0.5);
      font-size: 14px;
      text-transform: capitalize;
      max-height: 340px;
      max-width: 600px;
      overflow: hidden;
      position: absolute;
      left: 0;
      padding: 8px;
      margin-top: 5px;
      flex-direction: column;
      align-items: flex-start;
      -webkit-align-items: flex-start;
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      z-index: 10000;

      li {
        width: 120px;
        margin-right: 20px;
        float: left;
        font-size: 12px;
        display: block;
        border-radius: 1px;

        a {
          display: block;
          padding: 5px;

          &:before {
            margin-right: 5px;
          }
        }

        &:hover a,
        &.active a {
          background: $lighter-grey;
        }
        &.hide {
          display: none;
        }
      }
    }
  }

  .section-chooser,
  .enviroment-chooser {
    font-size: 18px;
    margin-right: 20px;
  }

  .date-chooser {
    #datepicker {
      width: 80px;
    }
    .jdpicker_w {
      display: inline;
    }
  }

  ul {
      list-style: none;
      background-color: $header-bg-color;
  }

  #auto-refresh {
    position: relative;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
  }
}
