$menu-active-bg-color: rgba(230,230,230, 0.9);
$menu-inactive-bg-color: rgba(200,200,200, 0.4);
$menu-hover-color: #fff;
$header-bg-color: #cca383;
$header-height: 54px;

body {
    background-color: #fff;
    color: #333;
    margin: 0px;
    padding: 0px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  line-height: 18px;
}

.clear-left {clear:left; float:left;}

.logline {
    width: 100%;
    background-color: #eee;
    margin: 1px;
}
.bg {
    position: relative;
    left:0;
    top:0;
    display: inline-block;
    width: 100%;
}
.ct {
    display: inline-block;
    position: relative;
    padding: 2px;
}
.box {
    position: absolute;
    left:0;
    top: -2px;
    background-color: rgba(255,0,0,0.4);
    width: 0px;
    height: 3px;
}

pre {
  margin: 1px 0!important;
  padding: 5px!important;
  font-size: 11px;
  white-space: pre-wrap;
}
pre img { vertical-align: top; }
pre a, #request-details a { color: blue; }
pre a:hover, #request-details a:hover { color: blue; }

a { color: #000; }
a:hover { color: #000; background-color:#fff; }
a { text-decoration: none; }

label {
    font-weight: bold;
    font-size: 80%;
    display: block;
    float: left;
    clear: left;
}

form { }

input, select {
  margin-bottom: 5px;
}

#content {
  margin-top: 5px;
}


#description.filter-widget {font-style: italic; margin: 0 0 0 5px; font-size: 90%;}
.filter-widget {
    float:left;
    padding-right: 20px;
    margin: 0px;
    input, select { margin-left: 0px; }
}


#navicons {
    display:inline-block;
    font-size: 16px;
    margin: 0;
    a { color: rgba(120, 120, 120, 0.8); margin-right: 2px; }
}

.active {
  background: #ccc;
}

.inactive:hover, .active:hover {
  color: #000;
  background-color:#fff;
  cursor: pointer;
}

#distribution-plot {padding: 0; margin: 0; float: left;}
#enlarged-plot { margin-top: 10px; }

img {
  border: 0 none;
}
#column-left {
    position: absolute;
    left: 0px;
    width: 626px;
}
#column-right {
    position: absolute;
    left: 635px;
}
div#pagetimes {
    h3 {
        font-size: 12px;
        margin: 6px 0px 4px 0px;
    }
    h4 {
        font-size: 12px;
        margin-top: 7px;
        margin-bottom: 3px;
    }
    table.full_stats {
        margin-top: 8px;
    }
}

#performance-pie {
  margin-top: 15px;
  margin-left: 30px;
}

.full_stats {
  margin-left: 0px;
  margin-top: 10px;
  border-collapse: collapse;
}

.full_stats th {
  margin: 0;
  border: 0;
  padding: 4px;
  background: #ddd;
  font-style: italic;
  font-weight: normal;
  font-size:   12px;
  line-height: 13px;
  height: 26px;
  border: 1px solid #999;
}

.full_stats td {
  font-size: 12px;
  line-height: 13px;
  padding: 3px 5px;
}

.sortable, .clickable {
  cursor: pointer;
}

th.sortable:hover {
   background: #fff image-url('table_sort_desc.png') top right no-repeat;
}

th.sorted {
   background: #eee image-url('table_sorted_desc.png') top right no-repeat;
}

tr.full_stats:hover {
  background: #ccc;
}

tr.full_stats a, tr.full_stats .dead-link {
  padding: 0 2px;
}

td.group-thing { font-size: 90%; }
#column-right td.group-thing { max-width: 32em; overflow: hidden; }

/*
#all-pages table.full_stats {
    tr:nth-child(2n+1) { background: #ddd; }
    tr:nth-child(1)    { background: #ccc; }
}
*/

td {padding: 0 8px;}
td.number {text-align: right;}

.new_error td{ background-color:pink; }

.invisible { visibility:hidden; display:none; }

.error {color:red;}
.error a {color:red;}
.warn {color:brown;}
.warn a {color:brown;}
.timestamp {font-weight:bold;}

#plot-details-col1 { float:left; }
#plot-details-col2 { float:left; margin-left:10px;}
#plot-details-col3 { float:left; margin-left:10px;}
.stats { margin: 2px 0 2px 20px; }
.stats th { font-size: 12px; }
.stats td { font-size: 12px; padding: 0 8px; }
.table-heading { font-weight: bold; padding-top: 10px; }

#resource-plot { float:left; margin-top:-3px; }

.xlabel, .ylabel, .legend, .label, .rlabel, .tooltip {
  font: 8px sans-serif;
  stroke: none;
  fill: #000;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}

#apdex-table, #error-table {float:left;}
#apdex-table { margin-top: 5px; }
#apdex-table td, #error-table td {font-size: 90%; line-height: 100%; white-space: nowrap;}
#apdex-table th, #error-table th {font-size: 90%; white-space: nowrap;}

#response-code-stats td {font-size: 90%; line-height: 100%; white-space: nowrap;}
#response-code-stats th {font-size: 90%; white-space: nowrap;}

#graph-stats td {font-size: 90%; line-height: 100%; white-space: nowrap;}
#graph-stats th {font-size: 90%; white-space: nowrap;}
#graph-counts {font-size: 90%; margin-bottom: 10px; white-space: nowrap;}
#graph-counts p {font-weight: bold; white-space: nowrap;}

#requests, #single-request, #exceptions, #callers, #all-pages {
  margin: 8px;
}

.controls form { display: inline; }
.controls a {color: blue; margin-left: 5px; }
.controls a:hover {font-weight: bold; }
#download-button { margin-left: 10px; }
#callers #filter { }

#request-lines {
  margin-top:15px;
  margin-bottom:15px;
}

#request-lines a {
  color: blue;
}

/* #request, #callers { position: relative; } */

.warning {
  font-size: 200%;
  color: blue;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#error_page_navigator {
  margin-top: -5px;
  margin-bottom: 5px;
}
#error_page_navigator ul {
  list-style-type: none;
  display: inline;
  padding-left: 10px;
}
#error_page_navigator li {
  display: inline;
}


#stream-title {
}
#stream-control {
}
#stream-toggle {
}
#live-stream {
  margin: 8px;
}

#request-details {
  margin:0px;
  padding:0px;
  border:0px;
}

.resource-fields {
   display: inline-block;
   vertical-align: top;
   border: none;
/*   border: 1px solid #ddd; */
}

.resource-fields legend {
   font-weight: bold;
}

.resource_name {
   vertical-align: top;
   white-space: nowrap;
}

.embedded_table td {
  margin-left: 0px;
  padding-left: 0px;
}

.embedded_table tr td:first-child {
  width: 15em;
}

.triangle {
    color: orange;
}

.autocomplete-suggestions {
  border:1px solid #999;
  background:#FFF;
  cursor:default;
  text-align:left;
  overflow:auto;
  font-size: 90%;
}
.autocomplete-selected { background: #d0d0d0; }
div.autocomplete-suggestion { padding:1px 2px; white-space:nowrap; overflow:hidden; }
.autocomplete-suggestion strong { font-weight:normal; color:#3399FF; }
.autocomplete-suggestions { background: #ffffff; }

input[type="text"]:disabled
{
  color:#ccc;
}

#anomaly-score { display: none; }
#anomaly-score-title { font-size: 14px; }
#anomaly-score-value { font-weight: bold; font-size: 48px; margin-top: 20px; }
#live-stream-chart {float: left; }
#recent-errors-title { clear: both; padding-top: 10px; }

#request-history {
  clear: both;
  margin-top:  0px;
  margin-left: 0px;

  div {
    font: 10px sans-serif;
  }
  .title {
    font: 14px san-serif;
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .bar, .weekday {
    fill: steelblue;
  }
  .weekend {
    fill: #90B4D2;
  }
  .x.axis path, .y.axis path {
     // display: none;
  }
}

#spinner {
    font: 20px sans-serif;
    margin: 20px;
}
#perf-title {
    font: 20px sans-serif;
    font-weight: bold;
    margin-left: 400px;
    margin-top: 10px;
}
div.container {
    margin: 10px;
}
table.zebra {
    margin: 3px;
    tr:nth-child(2n+1) { background: #ddd; }
    tr:nth-child(1)    { background: #ccc; }
    td, th { padding: 2px 5px 2px 5px; }
    border-spacing: 0px;
}

svg {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.header {
  height: $header-height;
  background: $header-bg-color;
  ul {
      list-style: none;
      background-color: $header-bg-color;
  }
  input, select { margin: 0px; }
  label { font-size: 10px; }
}

.header > ul {
    font-size: 0;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    &:last-child {
        clear: both;
    }
    &.left {
        left: 0;
        z-index: 200;
    }
    &.right {
        right: 0;
        z-index: 100;
    }
}

.header > ul > li {
    font-size: 12px;
    position: relative;
    top: -2px;
    display: inline-block;
    margin: -2px 10px 2px 10px;
    padding: 0px;
    &:last-child {
        clear:left;
    }
    & > div {
        height: 23px;
    }
}

.menu {
    display: block;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    position:relative;
    z-index: 1000;
}
.menu > ul {
    display: inline-block;
    margin: 0px 0px;
    padding: 0px;
}
.menu > ul > li {
    display: inline-block;
    padding: 0px;
    margin-right: 0px;
}
.menu li li a:before {
    content: '▶';
    visibility: hidden;
    padding: 0px 5px 0px 0px;
    color: orange;
    font-size: 11px;
}
.menu li li:hover a:before {
    visibility: visible;
}
.menu > ul > li > a:after {
    content: '▼';
    display: inline-block;
    font-size: 8px;
    margin: 0px 0px 0px 2px;
    padding-left: 2px;
    text-align: center;
}
.menu li .separator {
    height: 1px;
    margin: 1px;
    background-color: #ccc;
}
.menu li a.active {
    background-color: $menu-active-bg-color;
    color: black;
}
.menu li a.inactive {
    background-color: $menu-inactive-bg-color;
    color: black;
}
.menu li li a {
    border-radius: 0px;
    line-height: 20px;
    font-weight: normal;
    font-size: 12px;
}
.menu li a {
    border-radius: 2px;
    display: block;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    margin: 0px;
    padding: 0px 4px;
    text-align:center;
    text-decoration:none;
}
.menu > ul > li > a {
    padding-right: 5px;
}
.menu li a:hover, .menu ul li:hover a {
    background: white;
    text-decoration:none;
}
.menu li ul {
    position: absolute;
    background: #fff;
    display: none;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 1px solid #ccc;
}
.menu li:hover ul {
    display:block;
}
.menu li li {
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    z-index: 110;
}
.menu li ul a {
    display: block;
    font-style: normal;
    margin: 0px;
    padding: 0px 15px 0px 0px;
    text-align:left;
}
.menu li ul a:hover, .menu li ul li:hover a {
    background:#ccc;
    border:0px;
    text-decoration:none;
}

#navigation-widget {
  margin-right: 10px;
  margin-left: 5px;
  line-height: 18px;
  position: relative;
  top: 6px;
  label { font-size: 18px; cursor: pointer; }
  div {
      height: 22px;
      cursor: pointer;
      & > ul {
          position:relative;
          top: 2px;
      }
  }
}
#navigation-widget > div > ul > li {
    margin-right: 2px;
    & > a {
        padding: 0px 1px 0px 3px;
        font-size: 21px;
        &:after {
            padding: 0px;
            content: '';
        }
    }
}

#app-widget {
}

#time-range-widget {
  ul {
      position: relative;
      top: 0px;
      display: inline;
      li {
          display: inline;
          border-radius: 2px;
          text-align: center;
          div { display: inline-block; margin-top: 3px; }
          font-size: 80%;
          padding: 2px;
          margin: 0px;
      }
      li.active {
          background-color: $menu-active-bg-color;
      }
      li.inactive {
          background-color: $menu-inactive-bg-color;
      }
      li:hover {
          background-color: $menu-hover-color;
      }
  }
}

#grouping-widget {
  font-weight: bold;
  height: 50px;
  ul {
      padding: 0px;
  }
  li {
      border-radius: 2px;
      text-align: center;
      height: 18px;
      margin: 2px;
      padding: 2px 10px 2px 10px;
  }
  div { position: relative; top: 6px; }
  li.active {
      background-color: $menu-active-bg-color;
  }
  li.inactive {
      background-color: $menu-inactive-bg-color;
  }
  li:hover {
      background-color: $menu-hover-color;
  }
}

#resource-type-widget, #page-widget {
    label { margin-top: 3px; }
}
#app-widget, #env-widget {
    label { margin-top: 2px; }
}

#auto-refresh {
    position: relative;
    top: -21px;
}

#show-json {
    position: absolute;
    right: 10px;
    top: 2px;
    a { color: green; }
}

#admin {
    position: absolute;
    right: 45px;
    top: 29px;
    a:hover { background: #cca383; }
}
