@import 'mixins.scss';
@import 'constants.scss';

 /* Retina Display  */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {


  th.sorted {
    background-image: image-url('table_sorted_desc2x.png');

    &:hover {
      background-image: image-url('table_sort_desc2x.png');
    }
  }
}

@media all and (min-width: 1300px) {
  .app-dashboard {
    display: flex;

    .size-xxl-small-width {
      max-width: 200px;
    }

    .size-xxl-medium-width {
      max-width: 300px;
    }
    .size-xxl-large-width {
      max-width: 400px;
    }

    .size-xxl-no-flex {
      display: block;

      .item {
        width: auto !important;
      }
    }

    .size-xxl-flex-order-first {
      order: 1;
    }
    .size-xxl-flex-order-second {
      order: 2;
    }
    .size-xxl-flex-order-third {
      order: 3;
    }

    .app-overview {
      .item {
        flex: initial;
      }
    }
  }

}

@media all and (max-width: 1100px) {
  body {
    overflow: hidden;
  }

  #logjam-container {
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    width: auto;
    margin-right: 0px;
  }

  #logjam-header,
  #logjam-content {
    transition: left 0.5s;
    left: 0;
    position: relative;
  }

  .app-dashboard {
    margin: 0 !important;
    box-sizing: border-box;
  }

  #mobile-trigger {
    background: $dark-grey;
    font-size: 16px;
    color: $white;
    line-height: 44px;
    height: 44px;
    display: block;
    transition: padding 0.5s;
    padding-left: 0;


    &:before {
      content: "\f0c9";
      font-family: fontAwesome;
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  #logjam-sidebar {
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    left: -220px !important;
    position: fixed !important;
    z-index: 10000 !important;
    transition: all 0.5s;
    top: 0;
    bottom: 0;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }

  .sidebar-visible {
    #mobile-trigger {
      padding-left: 230px;

      &:before {
        content: "\f00d";
      }
    }

    #logjam-header,
    #logjam-content {
      left: 100px;
    }
    #logjam-sidebar {
      left: 0 !important;
      box-shadow: 0 0 100px -10px rgba(0,0,0,0.8);
    }
  }

  .app-overview {
     overflow-x: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: row !important;

    .item {
      min-width: 250px;
    }
  }

}

/* iPad Portrait  */
@media all and (max-width: 800px) {
  .app-overview {
    display: flex;
    flex-direction: row;
    width: 100%;
     overflow-x: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;

    .item {
      min-width: 250px;

    }
  }

  #logjam-header {
    height: 110px;

    .enviroment-chooser {
      top: 60px;
      left: 10px;
    }

    #auto-refresh {
      width: 120px;
      right: 30px;
      left: auto;
      top: 24px;
    }

    .date-chooser {
      top: 71px;
    }
  }

}
/* smartphone landscape */
@media all and (max-width: 750px) {
  .app-dashboard {
    margin: 0 !important;

    .app-overview {
      display: block;
      flex-direction: initial;
      padding: 10px;
      box-sizing: border-box;

      .item {
        margin: 10px 0;
        box-sizing: border-box;
        min-width: 0;
      }
    }
  }

  #logjam-header {
    height: 110px;

    .application-chooser {
      margin-left: 10px;
      position: static;

      .application-suggest {
        width: 130px;
      }

      i.fa {
        display: none;
      }

      .dropdown-menu {
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        z-index: 1000;
      }

      .active {
        .dropdown-menu {
          display: block;
          box-sizing: border-box;
        }
      }
    }
  }
}

/* smartphone portrait */
@media all and (max-width: 320px) {
  #logjam-header {
    height: 150px;

    #auto-refresh {
      width: 120px;
      left: 10px;
      top: 110px;
    }

    .date-chooser {
      top: 104px;
    }
  }
}
